import { createServer } from 'https';
import { parse, UrlWithParsedQuery } from 'url';
import next from 'next';
import fs from 'fs';
import { exit } from 'process';

const port: number = 3000;
const dev: boolean = process.env.NODE_ENV !== 'production';
const app = next({ dev, hostname: 'localhost', port });
const handle = app.getRequestHandler();

const httpsOptions = {
  key: fs.readFileSync('./key.pem'),
  cert: fs.readFileSync('./cert.pem'),
};

app.prepare().then(() => {
  createServer(httpsOptions, (req, res) => {
    const parsedUrl: UrlWithParsedQuery | undefined = req.url
      ? parse(req.url, true)
      : undefined;
    handle(req, res, parsedUrl);
  })
    .once('error', () => {
      console.log(`error - server failed to start on port ${port}`);
      exit(1);
    })
    .listen(port, '0.0.0.0', () => {
      console.log('ready - started server on url: https://localhost:' + port);
    });
});
